@font-face {
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Mono', monospace;
  font-weight: 500;
  font-style: normal;
}

body {
  margin: 0px;
  background-color: #abcae9;
  font-family: 'Roboto', sans-serif;
  font-family: 'Fragment Mono', monospace;
  font-family: 'Fragment Mono'
  color: black;
  font-size: normal;
}
h1 small {
  color: #999;
  display: block;
  font-size: 0.5em;
}

h1, h2, h3, h4 {
  padding-left: 25px;
}

.content {
  background-color: #abcae9;
  max-width: 800px;
  margin: 0;
  padding: 50px 100px 50px 50px;
  border-right: 0px solid #efefef;
}
.wha3t, .synopsis, .education {
  margin-bottom: 25px;
  margin-left: -40px;
  padding-left: 70px;
}

.footer {
  background-color: #abcae9;
  max-width: 800px;
  margin: 0;
  padding: 310px 110px 0px 0px;
  padding-left: 25px;
  border-right: 0px solid #efefef;
}


.what {
  display: block;
  margin-top: 0px;
  margin-left: 20px;
  padding-left: 10px;
  background-color: #fafafa;
  font-size: 80px
}
